---
layout: default
---

<h1>About</h1>

{% assign member = site.posts | where: 'permalink', 'home/researcher-name' | first %}
{% if member %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-3 text-center">
            <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                class="img-circle img-responsive"
                style="max-width: 200px;"/>
        </div>

        <div class="col-md-9">
            <div class="card-body">
                <h2 class="card-title">{{ member.title }}</h2>
                <h4 class="card-text">{{ member.role }}</h4>
                
                <!-- Social -->
                <ul class="list-inline list-unstyled">
                    <!-- Twitter -->
                    {% if member.social.twitter %}
                        <li><a target="blank" href="{{member.social.twitter}}"><i class="fab fa-twitter"></i></a></li>
                    {% endif %}
                    <!-- Linkedin -->
                    {% if member.social.linkedin %}
                        <li><a target="blank" href="{{member.social.linkedin}}"><i class="fab fa-linkedin"></i></a></li>
                    {% endif %}
                    <!-- Github -->
                    {% if member.social.github %}
                        <li><a target="blank" href="{{member.social.github}}"><i class="fab fa-github"></i></a></li>
                    {% endif %}
                    <!-- Personal Website -->
                    {% if member.social.website %}
                        <li><a target="blank" href="{{member.social.website}}"><i class="fas fa-globe"></i></a></li>
                    {% endif %}
                    <!-- Google Scholar -->
                    {% if member.social.google-scholar %}
                        <li><a target="blank" href="{{member.social.google-scholar}}"><i class="fab fa-google"></i></a></li>
                    {% endif %}
                    <!-- Orcid -->
                    {% if member.social.orcid %}
                        <li><a target="blank" href="{{member.social.orcid}}"><i class="fab fa-orcid"></i></a></li>
                    {% endif %}
                    <!-- Research Gate -->
                    {% if member.social.research-gate %}
                        <li><a target="blank" href="{{member.social.research-gate}}"><i class="fab fa-researchgate"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Education -->
<div class="row mt-4">
    <h3>Education</h3>
    <ul class="list-unstyled">
        {% for education in member.education %}
            <li>{{education}}</li>
        {% endfor %}
    </ul>
</div>
<!-- experience -->
<div class="row mt-4">
    <h3>Experience</h3>
    <ul class="list-unstyled">
        {% for experience in member.experience %}
            <li>{{experience}}</li>
        {% endfor %}
    </ul>
</div>

<!-- Organization -->
<div class="row mt-4">
    <h3>Organization</h3>
    <ul class="list-unstyled">
        {% for organization in member.organization %}
            <li>{{organization}}</li>
        {% endfor %}
    </ul>
</div>



{% endif %}

{{ content }}
